<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/form.css" rel="stylesheet" type="text/css">
    <title>Add new quote</title>
</head>
<body>
    <div class="root">
        <nav class="header">
            <h1 class="title">Add a new <span>QUOTE</span></h1>
            <a href="/">Home</a>
        </nav>
        <form action="/add_the_quote" method="POST" class="wrapper">
            <div class="form-control">
                <label for="quote">Quote</label>
                 <textarea name="quote" id="quote" rows="5" required></textarea>
            </div>
           <div class="form-control">
               <label for="author">Author</label>
                <input type="text" name="author" id="author" required>
           </div>
           
            <button type="submit" class="submit-btn">Add</button>
        </form>
    </div>
</body>
</html>