<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/css/home.css" rel="stylesheet" type="text/css" />
        <title>Home Page</title>
    </head>

    <body>
        <a href="/new">Add new quote</a>
        <div class="wrapper">
            <% if(data.length!=0){ %> <% data.forEach(function(item){ %>
            <div class="quote-card">
                <h1><%= item.quote %></h1>
                <p>-----<%= item.author %></p>
                <form action="/<%= item.id %>?_method=DELETE " method="POST">
                    <button type="submit" class="delete-btn">X</button>
                </form>
            </div>
            <% }) %> <% } else { %>
            <h1 class="notification">No quotes found !!!</h1>
            <% } %>
        </div>
    </body>

</html>